@charset "UTF-8";
html{
  font-size:62.5%;/*16px×62.5％＝10px*/
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
}

input[type="checkbox"] { display: none; }

label > span {
  font-size: 1.6rem;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #050505;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 8px;
  height: 12px;
  top: 30%;
  transform: translateY(-50%);
  left: 6px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main {
  min-height: calc(100vh - 88px);
  background-color: #d5e1fd;
  padding-top: 88px;
}
.container {
  box-sizing: border-box;
  padding: 48px 18px 32px;
}

/*＝＝＝＝＝＝＝＝
カード
＝＝＝＝＝＝＝＝*/
.card {
  width: 100%;
  padding-top: 8px;
  text-align: left;
}
  .card-category-name {
    margin-bottom: 16px;
  }
  .card-namebox {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
  }
  .card-name {
    font-weight: bold;
  }
  .card-list {
    box-sizing: border-box;
    padding: 16px 8px;
    width: 100%;
    border-radius: 8px;
    background-color: #fafafa;
    margin-bottom: 36px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  }
  .card-item {
    padding: 16px 8px;
    width: 100;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
    margin-bottom: 8px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-item-name {
    position: relative;
    padding-left: 35px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    flex-flow: column;
    margin-bottom: 0;
  }

/*＝＝＝＝＝＝＝＝
カテゴリーフィルタ＆期限フィルタ
＝＝＝＝＝＝＝＝*/
.tab {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 48px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}
  .tab-box {
    width: 25vw;
    height: 40px;
    font-size: 1.4rem;
    font-weight: bold;
  }
    .tab-box__active {
      color: #f76756;
      background-color: #f4f4f4;
      border-bottom: 2px solid #707070;
    }

/*＝＝＝＝＝＝＝＝
フィルタエリア
＝＝＝＝＝＝＝＝*/
.filter {
  padding: 4px;
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.24);

}
  .filter-item:not(:last-child) {
    margin-right: 20px;
  }
  .filter-btn {
    padding: 4px 16px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 1.6rem;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  }

/*＝＝＝＝＝＝＝＝
ボタン
＝＝＝＝＝＝＝＝*/
.btn {
  cursor: pointer;
  margin-left: 8px;
  width: 36px;
  height: 36px;
  font-size: 1.6rem;
  border-radius: 36px;
}
  .btn-done {
    margin-left: 16px;
    width: 48px;
    height: 22px;
    border-radius: 8px;
    background-color: #719CFC;
    color: #fff;
  }
  .btn-delete {
    background-color: #f4f4f4;
    color: #b4b4b4;
  }
  .btn-fix {
    background-color: #f4f4f4;
    color: #b4b4b4;
  }
  .btn-round {
    position: fixed;
    z-index: 1;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-color: #719CFC;
    color: #fff;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  }
  .btn-round > span {
    font-size: 2.4rem;
  }
    .btn-round__left {
      left: 18px;
      bottom: 22px;
    }
    .btn-round__right {
      right: 18px;
      bottom: 22px;
    }

/*＝＝＝＝＝＝＝＝
ポップアップ
＝＝＝＝＝＝＝＝*/
.popup {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
  .popup-fix__todo {
    box-sizing: border-box;
    padding: 16px;
    width: calc(100vw - 36px);
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
  }
  .popup-item {
    margin: 16px 0;
  }
  .popup-item:first-of-type {
    margin-top: 0;
  }
  .popup-btn-box {
    margin-top: 24px;
    text-align: center;
  }
  .popup-btn {
    padding: 8px 0;
    width: 80px;
    border-radius: 8px;
    color: #ffffff;
  }
    .popup-btn__negative {
      background-color: #bcbcbc;
      font-size: 1.2rem;
    }
    .popup-btn__positive {
      background-color: #719cfc;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .popup-btn__submit {
      width: calc(100% / 1.618);
    }
    .popup-btn__left {
      margin-right: 32px;
    }
  .popup-input{
    width: 70%;
    font-size: 1.8rem;
    height: 20px;
    border: none;
    border-bottom: 1px solid #707070;
  }


@media screen and (min-width:1024px) {
  .container {
    padding: 48px 0px 32px
  }
  .showchange {
    display: flex;
  }
  .main {
    padding-top: 48px;
  }
  .tab-box {
    height: 48px;
    max-width: 96px;
  }
  .category {
    min-height: calc(100vh - 112px);
    display: flex;
    justify-content: flex-start;
  }
    .category-box {
      margin-right: 3.3333%;
      flex: 0 0 30%;
    }
    .category-box:first-of-type {
      margin-left: 16px;
    }
    .category-box:last-of-type {
      margin-right: 16px;
    }
    .card-scrollH {
      min-height: calc(100vh - 152px);
      display: flex;
      overflow-x: scroll;
      align-items: flex-start;
    }
    .card-list {
      /* width: 30%; */
    }
      .card-list__scrollH {
        flex: 0 0 30%;
        max-width: 360px;
        margin-right: 32px;
      }
    .card-list__scrollH:first-of-type{
      margin-left: 16px;
    }
    .btn-makelist{
      width: 100%;
      padding: 12px 0;
      flex: 0 0 30%;
      background-color: #719CFC;
      border-radius: 8px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.4);

    }
    .btn-makelist > span {
      font-size: 1.6rem;
      font-weight: bold;
      color: #fff;
    }
    .btn-makelist__scrollH {
      display: block;
      margin-right: 32px;
      max-width: 360px;
    }
    .popup-fix__todo {
      max-width: 640px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
    }
    .filter-item:first-of-type {
      margin-left: 40px;
    }
}
